[sso-session heorot]
sso_start_url = {{ onepasswordRead "op://Control Tower/AWS Perimeter/SSO Start URL" "grendel.1password.com" }}
sso_region = eu-west-1
sso_registration_scopes = sso:account:access

[default]
sso_session = {{ .hostname }}
sso_account_id = {{ onepasswordRead "op://Control Tower/AWS Perimeter/AWS Account ID" "grendel.1password.com" }}
sso_role_name = AWSAdministratorAccess
