#!/usr/bin/env bash
set -euo pipefail

source "${NVM_DIR}/nvm.sh"

if command -v nvm >/dev/null 2>&1; then
    nvm install 'lts/jod'
    nvm use 'lts/jod'

    if command -v node >/dev/null 2>&1; then
        echo "Defaulting to Node $(node -v)" # with the side-effect of ensuring nvm loads node once
    fi
else
   echo "Error: NVM is not installed or not in PATH" >&2
   exit 1
fi
