#!/usr/bin/env bash
set -euo pipefail

# theme=""

# plutil -replace Window\ Settings.Theme-Name -xml "$theme" ~/Library/Preferences/com.apple.Terminal.plist
# defaults write com.apple.Terminal "Default Window Settings" -string "Theme-Name"
# defaults write com.apple.Terminal "Startup Window Settings" -string "Theme-Name"
