[user]
  name = "{{ .name }}"
  email = "{{ .email }}"
  signingkey = {{ onepasswordRead "op://Employee/GitHub SSH Key/public key" "grendel.1password.com" }}

[core]
	editor = code --wait
	pager = less -F -X
	excludesFile = ~/.gitignore
	autocrlf = input

[gpg]
  format = ssh

[gpg "ssh"]
  program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"

[diff]
    external = difft

[commit]
  gpgsign = true

[pull]
	rebase = true

[push]
	default = upstream
	autoSetupRemote = true

[rebase]
	autosquash = true
	autoStash = true

[remote "origin"]
    fetch = +refs/pull/*/head:refs/remotes/origin/pr/*

[init]
	defaultBranch = main
