{
	"ignored_packages":
	[
		"Vintage",
	],
	"index_files": false,
	"color_scheme": "Monokai Pro (Filter Machine).sublime-color-scheme",
	"theme": "Monokai Pro (Filter Machine).sublime-theme",
	"sesame.path": [
		{"path": "~/Workspace/Projects","depth": 1,"vcs": true},
		{"path": "~/Workspace/Scratch","depth": 1},
		{"path": "~/Workspace/Stubs","depth": 1}
	],
}
